body{
  padding: 25px;
  
}
.title {
	color: #5C6AC4;
}

@media (max-width:600px){
  body{
    position: relative;
  }
  .depan{
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  #logo{
    margin: 20px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    align-self: center;
  }
  #judul-login{
    padding-bottom: 20px;
  }

  .bagian-login{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-login{
    background-color: rgb(227, 227, 227);
    padding: 20px 35px 20px 35px;
    border-radius: 15px;
    width: 100%;
    border: 1px solid;
  }
  .inputan{
    padding-bottom: 10px;
  }
  .inputan>input{
    width: 95%;
    height: 25px;
    border: 0px;
    border-radius: 16px;
  }
  .tombol-login-dan-lupa{
    padding: 20px;
  }
  .tombol-login{
    padding-bottom: 20px;
  }
  #tombol-login{
    align-items: center;
    border-radius: 16px;
    width: 100%;
    padding: 10px;
  }
  .opsi-lain{
    text-align: center;
    padding-top: 20px;
  }
  .logo-opsi{
    width: 65px;
    height: 65px;
    border-radius: 60px;
  }

  .belakang{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 50%;
  }
  #pungut{
    position: absolute;
    top: 400px;
    width: 300px;
    height: 300px;
  }
  #truk{
    position: absolute;
    height: 400px;
    width: 600px;
    top: 200px;
    transform: scaleX(-1);
  }
}